.title {
    font-family: sans-serif;
    color: white;
    font-size: 2rem;
    margin-bottom: 1.6rem;
    display: flex;
    align-items: center;
}

.titleBike {
    margin-left: 0.8rem;
    font-weight: 600;
}

.titleMe {

}

.titleThere {
    font-weight: 600;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #a63392;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-bottom: 5px solid #943480;
}

.button {
    margin-top: 2rem;
    padding: 0.6rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #1abc9c;
    border: none;
    color: white;
    border-radius: 5px;
}

@media only screen and (max-width: 1050px) {
    .title {
        display: none;
    }

    .header {
        height: 100%;
        background-color: #a63392;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.2rem;
    }

    .content {
        display: none;
    }

    .button {
        margin-top: 1.5rem;
    }
}

.inputContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.iconContainer {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}

.icon {
    color: white;
    margin-right: 0.5rem;
}

.input {
    flex:1;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 0.5rem;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 0.9rem;
}

.secondInput {
    margin-top: 1.5rem;
}

.input::placeholder {
    color: white;
}

.content {
    width: 100%;
    height: 100%;
    background-color: white;
}
