.container {
    height: 100vh;
}

.sidebar {
    width: 30vw;
    box-shadow: 2px 0 15px -5px #aaa;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
}

.mainPanel {
    margin-left: 30vw;
}

@media only screen and (max-width: 1050px) {
    .sidebar {
        width: 100vw;
        height: 25vh;
        box-shadow: 2px 0 10px -2px #eee;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .mainPanel {
        margin-top: 25vh;
        margin-left: 0;
        height: 75vh;
        background-color: white;
    }
}
